.login{
    padding-top: 30px;
}

input{
    width: 95%;
    height: 45px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    outline: none;
    box-sizing: border-box;
    margin: 0px auto;
    margin-bottom: 25px;
}
.h{
    color: black;
    float: left;
    margin-left: 20px;
    font-size: smaller;
    margin-top: 20px;
}
.captcha_view{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    width: 90%;
    margin-top: 30px;
}
.captcha_view input{
    width: 60%;
}

.re{
    color: black;
    width: 42px;
    height: 42px;
    margin: 5px;
   cursor: pointer;
}
.p{
    color: black;
    font-size: 22px;
    text-align: center;
    direction: ltr;
    padding: 0px 5px;
}

@media(max-width: 600px){
    .captcha_view > input{
        width: 60%;
    }
    .captcha_view{
        margin: 3px;

    }
}  



@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
